<?php
    if (!isset($pageNow)) {
        $pageNow = '';
    }
?>

	<header class="header">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
				<div class="logo">
					<img src="/charly/sugarsweetcakes/addons/shared_addons/themes/iconic/img/logo.png" alt="Sugar Sweet Cakes Logo" title="Sugar Sweet Cakes Logo">
				</div>
			
				<button class="navbar-toggle collapsed pull-left" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

       <div class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li <?php if($pageNow=='home'){echo "class=\"active\"";} ?>><a href="<?php echo base_url(); ?>">beranda</a></li>
            <li <?php if($pageNow=='tentang-kami'){echo "class=\"active\"";} ?>><a href="<?php echo base_url(); ?>tentang-kami/">tentang kami</a></li>
            <li <?php if($pageNow=='collection'){echo "class=\"active\"";} ?>><a href="<?php echo base_url(); ?>portfolio/">portofolio</a></li>
            <li <?php if($pageNow=='purchase'){echo "class=\"active\"";} ?>><a href="<?php echo base_url(); ?>purchase/">pesan</a></li>
            <li <?php if($pageNow=='contact'){echo "class=\"active\"";} ?>><a href="<?php echo base_url(); ?>contact/">kontak</a></li>
            <li <?php if($pageNow=='news'){echo "class=\"active\"";} ?>><a href="<?php echo base_url(); ?>tips/">tips</a></li>
          </ul>
       </div><!--/.nav-collapse -->
      </div>
    </div>
	</header>