
<!-- Begin meta tags -->
<title>{{ template:title }} - {{ settings:site_name }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Iconic Website">
    <meta name="author" content="Riky H. Lesmana">

    <link rel="shortcut icon" href="{{ theme:image_path }}/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ theme:image_path }}/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ theme:image_path }}/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ theme:image_path }}/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ theme:image_path }}/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ theme:image_path }}/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ theme:image_path }}/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ theme:image_path }}/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ theme:image_path }}/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="{{ theme:image_path }}/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ theme:image_path }}/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ theme:image_path }}/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ theme:image_path }}/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ theme:image_path }}/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ theme:image_path }}/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ theme:image_path }}/favicons/browserconfig.xml">

		{{ theme:css file="bootstrap.min.css" }}
		{{ theme:css file="bootstrap-theme.min.css" }}
		{{ theme:css file="zhan.css" }}

    {{ theme:js file="vendor/jquery.min.js" }}
    {{ theme:js file="vendor/jquery-2.1.1.min.js" }}
    {{ theme:js file="bootstrap.min.js" }}
    {{ theme:js file="vendor/bootbox.min.js" }}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{{ template:metadata }}