<!DOCTYPE html>
<html lang="en">
  <head>
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        {{ theme:partial name="meta" }}
  </head>

  <body>

    {{ theme:partial name="header" }}

    <div class="container">

      <div class="baseHome baseTrans">
        {{ theme:img file="logo.png" }}
        <img src="{{ theme:image_path  }}logo.png" class="logoHome" /><br/>
        <img src="{{ theme:image_path  }}home1.png" class="logoHome2" />
      </div>

      
        {{ theme:partial name="footer" }}
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>