<!DOCTYPE html>
<html lang="en">
  <head>
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        {{ theme:partial name="meta" }}
        {{ widgets:area slug="Frontend" }}
  </head>

  <body>

    {{ theme:partial name="header" }}

    <div class="body container">

      <div class="baseHome">
				
				{{ widgets:area slug="home" }}
        
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
		{{ theme:partial name="footer" }}
  </body>
</html>