body {
	background: url('image/background.png') top left no-repeat transparent;
    background-size: 100% auto;
    background-attachment: fixed;
}
p {
	font-size: 13px;
}
body>.container{
	position: relative;
}
.container {
	color: #fff;
	max-width: 980px;
}
.baseHome {
	padding: 50px 15px 15px;
	background-color: rgba(0,0,0,0.7);
}
.baseHome.baseTrans {
	background-color: rgba(0,0,0,0);
}
.logoHome, .logoHome1, .logoHome2 {
	margin-top: 20px;
}
.logoHome {
	margin-top: 160px;
}
.logoHome2 {
	margin-left: -40px;
}
.navbar-inverse .navbar-nav>li {
	width: auto;
	padding-right: 70px;
}
.navbar-inverse .navbar-nav>li:last-child {
	padding-right: 0px;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li.active>a {
	color: #f00;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li.active>a:hover {
	color: #f96;
}
.navbar-inverse .navbar-nav>li.active>a:hover {
	color: #f00;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: transparent;
}
.footer {
	color: #fff;
	padding: 15px 10px;
	background-color: #ef2121;
	float: left;
	display: block;
	bottom: 0px;
	left: 0px;
	position: absolute;
}
.tw3>a, .tw3>a:hover {
	color: #fff;
	font-size: 12px;
}
.tw3>a>img {
	margin-right: 10px;
}
.box {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	background-color: #000;
	padding: 20px;
	margin-bottom: 30px;
	position: relative;
	display: block;
	color: #fff;
}
.box:hover {
	text-decoration: none;
	color: #fff;
	position: relative;
	cursor: default;
}
.box h3 {
	color: rgb(255, 0, 102);
	margin: 0px;
}
.box img {
	float: left;
	margin-right: 15px;
	max-width: 300px;
}
.box h3:hover {
	cursor: pointer;
	text-decoration: underline;
}
.box img:hover {
	cursor: pointer;
}
.box .mores {
	cursor: pointer;
}
p.date {
	margin: 5px 0px 10px;
}
@-webkit-keyframes backBtnB {
  0%   { background-color: rgb(255, 0, 102); }
  100% { background-color: rgb(0, 0, 0); }
}
@-moz-keyframes backBtnB {
  0%   { background-color: rgb(255, 0, 102); }
  100% { background-color: rgb(0, 0, 0); }
}
@-o-keyframes backBtnB {
  0%   { background-color: rgb(255, 0, 102); }
  100% { background-color: rgb(0, 0, 0); }
}
@keyframes backBtnB {
  0%   { background-color: rgb(255, 0, 102); }
  100% { background-color: rgb(0, 0, 0); }
}
@-webkit-keyframes backBtnP {
  0%   { background-color: rgb(0, 0, 0); }
  100% { background-color: rgb(255, 0, 102); }
}
@-moz-keyframes backBtnP {
  0%   { background-color: rgb(0, 0, 0); }
  100% { background-color: rgb(255, 0, 102); }
}
@-o-keyframes backBtnP {
  0%   { background-color: rgb(0, 0, 0); }
  100% { background-color: rgb(255, 0, 102); }
}
@keyframes backBtnP {
  0%   { background-color: rgb(0, 0, 0); }
  100% { background-color: rgb(255, 0, 102); }
}
.box .mores {
	position: absolute;
	bottom: 20px;
	left: 335px;
	background-color: rgb(255, 0, 102);
	padding: 7px 15px;
	-webkit-animation: backBtnP 0.5s;
	-moz-animation:    backBtnP 0.5s;
	-o-animation:      backBtnP 0.5s;
	animation:         backBtnP 0.5s;
}
.box .mores:hover {
	background-color: rgb(0, 0, 0);
	-webkit-animation: backBtnB 0.5s;
	-moz-animation:    backBtnB 0.5s;
	-o-animation:      backBtnB 0.5s;
	animation:         backBtnB 0.5s;
}
.box .mores.noImg {
	position: relative;
	display: block;
	left: 0px;
	bottom: 0px;
	float: left;
	margin-top: 10px;
}
.shadowNew:before, .shadowNew:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.shadowNew:after
{
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  right: 10px;
  left: auto;
}
@-webkit-keyframes blackShadeIn {
  0%   { opacity: 0; filter: alpha(opacity=0);}
  100% { opacity: 0.4; filter: alpha(opacity=40);}
}
@-moz-keyframes blackShadeIn {
  0%   { opacity: 0; filter: alpha(opacity=0);}
  100% { opacity: 0.4; filter: alpha(opacity=40);}
}
@-o-keyframes blackShadeIn {
  0%   { opacity: 0; filter: alpha(opacity=0);}
  100% { opacity: 0.4; filter: alpha(opacity=40);}
}
@keyframes blackShadeIn {
  0%   { opacity: 0; filter: alpha(opacity=0);}
  100% { opacity: 0.4; filter: alpha(opacity=40);}
}
@-webkit-keyframes blackShadeOut {
  0%   { opacity: 0.4; filter: alpha(opacity=40);}
  100% { opacity: 0; filter: alpha(opacity=0);}
}
@-moz-keyframes blackShadeOut {
  0%   { opacity: 0.4; filter: alpha(opacity=40);}
  100% { opacity: 0; filter: alpha(opacity=0);}
}
@-o-keyframes blackShadeOut {
  0%   { opacity: 0.4; filter: alpha(opacity=40);}
  100% { opacity: 0; filter: alpha(opacity=0);}
}
@keyframes blackShadeOut {
  0%   { opacity: 0.4; filter: alpha(opacity=40);}
  100% { opacity: 0; filter: alpha(opacity=0);}
}
.pinkHead {
	color: rgb(255, 0, 102);
}
hr {
	margin: 10px 0px;
}
h4 a, h4 a:hover, p a, p a:hover, .searchTags a, .searchTags a:hover, .details a, .details a:hover {
	color: #fff;
}
.searchTags a {
	margin-right: 10px;
}
p.date.small {
	font-size: 12px;
	margin: 0px;
}
.recentPost>a {
	margin-right: 5px;
	float: left;
}
.recentPost>p {
	margin-bottom: 0px;
}
.recentPost>.recentPost {
	margin: 0px 0px 10px;
	padding: 0px;
}
.rightCon h3{
	font-size: 20px;
}
.followus a {
	margin-right: 5px;
}
.details {
	background-color: #333;
	padding: 1px 20px 20px;
}
.details img {
	max-width: 620px;
	margin-bottom: 20px;
}
.details a, .details .clearfix {
	font-size: 12px;
	margin-left: 10px;
}
.details .clearfix {
	padding-left: 10px;
	margin-left: 0px;
	border-left: 2px solid #666;
}
.col-md-4{
	padding: 0px 8px;
}
.collection-list {
	background-color: #fff;
	display: block;
	max-height: 100%;
}
.collection-list:hover {
	text-decoration: none;
}
.collection-list::before {
	content: "";
	background-color: #000;
	width: 291px;
	height: 415px;
	display: block;
	position: absolute;
	opacity: 0;
    filter: alpha(opacity=0);
	-webkit-animation: blackShadeOut 1s;
	-moz-animation:    blackShadeOut 1s;
	-o-animation:      blackShadeOut 1s;
	animation:         blackShadeOut 1s;
}
.collection-list:hover::before {
	opacity: 0.4;
    filter: alpha(opacity=40);
	-webkit-animation: blackShadeIn 1s;
	-moz-animation:    blackShadeIn 1s;
	-o-animation:      blackShadeIn 1s;
	animation:         blackShadeIn 1s;
}
.collection-list h3 {
	color: black;
	text-transform: uppercase;
	font-weight: bolder;
}
.collection-list p {
	color: black;
	padding: 0px 20px 20px;
}
.collection-detail h2 {
	margin-top: 0px;
}
.page-header {
	display: none;
}
.preWarp {
	white-space: pre-wrap;
}

form.contact-form {
	width: 900px;
}

.contact-button input[type=submit] {
	color: #000;
}
element { outline: none; }
button::-moz-focus-inner, input::-moz-focus-inner, a::-moz-focus-inner {
  border: 0;
}
a:active
{
outline: none;
}
a:focus
{
-moz-outline-style: none;
}
.col-xs-12.col-md-4.tw3:last-child {
	margin-top: -20px;
	margin-bottom: 20px;
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#fd2626 0,#920202 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fd2626),to(#920202));
    background-image: linear-gradient(to bottom,#fd2626 0,#920202 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    /* background-repeat: repeat-x; */
}
.navbar-inverse .navbar-nav>li>a {
    color: #ccc;
    font-weight: bolder;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li.active>a {
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(0,0,0,0.3);
}
.navbar-inverse .navbar-toggle {
    border-color: rgba(0,0,0,0.6);
}
@media screen and (max-width: 767px) {
	.formcontact form .form-group input.form-control, .formcontact form .form-group textarea.form-control {
		min-width: 100% !important;
		width: 100% !important;
		max-width: 100% !important;
	}
	.logoHome, .logoHome2 {
		max-width: 100%;
		margin-left: 10px;
	}
	.box img {
		float: left;
		margin-bottom: 15px;
		max-width: 100%;
	}
	.collection-list img {
		max-width: 100%;
		height: auto;
	}
	.collection-list::before {
		width: 100%;
		height: auto;
	}
	.btn-bot-not {
		margin-bottom: 20px;
	}
	.col-xs-12.col-md-4.tw3:last-child {
		margin-top: 0px;
	}
	.col-xs-12.col-md-4.tw3 {
		margin-bottom: 20px;
	}
	
}