      <div class="footer">
        &copy; sugarsweetcakes.com 2016, All Rights Reserved.
      </div>
			<script language="javascript">
				var wrap = $("header.header");
				$(window).on("scroll", function(e) {
					if ($(this).scrollTop() > 210) {
					wrap.addClass("fix-nav");
					} else {
					wrap.removeClass("fix-nav");
					}
				});
			</script>