.item {
	height:450px;
	overflow:hidden;
}

.sidebar-right {
	border-left:1px solid #d8d8d8;
	height: 450px;
	display: none;
	float:right !important;
	background-color: #f3f3f3;
	position: relative;
	-webkit-box-shadow: inset 1px 1px 4px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 1px 1px 4px 0 rgba(0,0,0,.1);
	-o-box-shadow: inset 1px 1px 4px 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 1px 4px 0 rgba(0,0,0,.1);
}

.sidebar-right button.close {
	display: block;
	width: 100%;
	vertical-align: middle;
	font-size: 11px;
	padding: 12px 9px;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border: none;
	text-shadow: none;
	line-height: 1px;
	background: #444;
  background-image: -moz-linear-gradient(#444, #333);
  background-image: -ms-linear-gradient(#444, #333);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #444));
  background-image: -webkit-linear-gradient(#444, #333);
  background-image: -o-linear-gradient(#444, #333);
  background-image: linear-gradient(#444, #333);
	color: #bbb;
	cursor: pointer;
	-webkit-transition: 200ms linear all; 
	-moz-transition: 200ms linear all; 
	transition: 200ms linear all; 
	-webkit-font-smoothing: subpixel-antialiased;
}

.sidebar-right button.close:hover {
	color: #fff;
	background: #333;
	background-image: -moz-linear-gradient(#333, #333);
  background-image: -ms-linear-gradient(#333, #333);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #333));
  background-image: -webkit-linear-gradient(#333, #333);
  background-image: -o-linear-gradient(#333, #333);
  background-image: linear-gradient(#333, #333);
}


#file-sidebar {
	-webkit-animation-duration: .25s;
	-moz-animation-duration: .25s;
	-ms-animation-duration: .25s;
	-o-animation-duration: .25s;
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-ms-animation-delay: 0;
	-o-animation-delay: 0;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
}

section.side {
	width:24.4%;
	float:left;
	margin:0;
	overflow-x: hidden;
	overflow-y: auto;
}

section.center {
	display: inline-block;
	width:75.4%;
	float:left;
	margin:0;
}

section.center.three_column {
	width: 51%;
}

section.center .no_data {
	margin:40px 20px 20px;
}

#file-title {
	/* width:20%; */
}

#file-toolbar {
	display: inline-block;
	position: relative;
	float: right;
	padding-right: 16px;
	margin-top: -27px;
}

#file-buttons {
	display: inline-block;
	position: relative;
	/* float: left; */
	margin-right: 140px;
}

#file-buttons li {
	display: inline-block;
	margin-right: 4px;
}

#file-query {
	display: inline-block;
	position: relative;
	float: left;
	width: auto;
}

input#file-search {
	width: auto;
	display: inline-block;
	position: absolute;
	top: -1px;
	right: 0;
	padding: 4px 0px 4px 16px;
  margin: 0px 16px 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  background: #eee;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,.05);
	-moz-box-shadow: 0 1px 1px 0 rgba(255,255,255,.05);
	box-shadow: 0 1px 1px 0 rgba(255,255,255,.05);
	width: 130px;
	vertical-align: baseline;
	outline: none;
	/* color: white; */
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-transition: 200ms linear all;
	-moz-transition: 200ms linear all;
	-o-transition: 200ms linear all;
	transition: 200ms linear all;
	-webkit-font-smoothing: subpixel-antialiased;
}

input#file-search:focus {
	background: white;
	/* width: 260px; */
	border: 1px solid #ccc;
	outline: none;
	-webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: 0 1px 1px 0 rgba(255,255,255,.1);
	box-shadow: 0 1px 1px 0 rgba(255,255,255,.1);
}

.button-menu-source {
	display:none;
	padding:1px 16px 0 0 !important;
	float: left;
}

.button-menu-source li {
	display:inline-block;
}

/* Overwriting border radius for file path footer */
section.item {
	-webkit-border-bottom-left-radius: 0px !important;
	-moz-border-bottom-left-radius: 0px !important;
	-o-border-bottom-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	-moz-border-bottom-right-radius: 0px !important;
	-o-border-bottom-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

section.file-path {
	width: 100%;
	display: block;
	min-height: 25px;
	background: #f7f7f7;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f3f3f3));
	background-image: -moz-linear-gradient(#f7f7f7, #f3f3f3);
	background-image: -ms-linear-gradient(#f7f7f7, #f3f3f3);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f3f3f3));
	background-image: -webkit-linear-gradient(#f7f7f7, #f3f3f3);
	background-image: -o-linear-gradient(#f7f7f7, #f3f3f3);
	background-image: linear-gradient(#f7f7f7, #f3f3f3);
	/* border: 1px solid #ffffff; */
	border-bottom: 1px solid #eeeeee;
	padding: 12px 0px 2px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #d8d8d8;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0px 1px 2px 0 rgba(0,0,0,.3);
	-ms-box-shadow: 0px 1px 2px 0 rgba(0,0,0,.3);
	-o-box-shadow: 0px 1px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0px 1px 2px 0 rgba(0,0,0,.3);
	float: left;
}

section.file-path h5 {
  color: #555555;
	font-size: 13px;
  text-shadow: 1px 1px 0 #ffffff;
	margin: 0;
	margin-top: 10px;
	padding: 0 16px;
	text-align: left;
	display: inline;
}
section.file-path h5 a {
  	color: #555555;	
}

#file-breadcrumbs {
	width:80%;
}

.subsection-title {
	color:gray;
	margin-bottom:10px;
	font-size:14px;
	font-weight:700;
}

#file-to-replace {
	display:none;
}

#file-to-replace .alert-warning {
	color: #d83a2e;
}

#folders-sidebar .no_data {
	margin:0 20px;
}

#folders-sidebar {
	height:450px;
	background-color: #f9f9f9;
	border-right:1px solid #d8d8d8;
	overflow-x:hidden;
	overflow-y:auto;
	margin: 0px;
}

#folders-sidebar ul {
	padding-left:15px!important;
	display:none;
}

#folders-sidebar li a {
	width:80%;
	padding:0px;
	cursor:pointer;
	font-size:13px;
	display:inline-block;
	position: relative;
}

#folders-sidebar li.places a {
	color:gray;
	margin-bottom:10px;
	padding:6px 6px 6px 16px;
	font-size:14px;
	font-weight:700;
}

#folders-sidebar li div {
	width:14px;
	height:15px;
	/* float:left; */
	display: inline-block;
	margin-top:4px;
	margin-left: 12px;
	cursor:pointer;
}

#folders-sidebar li.open > div {
	background:url(../img/glyphicons-halflings-gray.png) no-repeat -457px -70px;
}

#folders-sidebar li.folder-close > div {
	background:url(../img/glyphicons-halflings-gray.png) no-repeat -313px -117px;
}

#folders-sidebar li.current {
	background:url(../img/current.png) no-repeat 98% 6px;
}

.folders-center {
	height:450px;
	overflow-y:auto;
	overflow-x:hidden;
}

.folders-center li:hover {
	background-color:#ededed;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.folders-center li.highlight {
	background-color:#e0e0e0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.folders-center li {
	width:100px;
	height:102px;
	margin: 10px;
	overflow:hidden;
	float:left;
}

.folders-center .folder {
	background:url(../img/folder.png) no-repeat;
}

.folders-center li .name-text {
	display:block;
	margin:0 4px;
	color:#515151;
	font-size:11px;
	height:15px;
	overflow:hidden;
	margin-top:83px;
	text-align:center;
	cursor:default;
	width: 92px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.folders-center li .name-text input {
	width:92px;
	margin:0;
	padding:0;
	background:transparent;
	border:none;
	margin:0;
	padding:0;
	text-align:center;
}

.folders-center .selected {
	background-color:#e0e0e0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.folders-center .file.type-a {
	background-image:url(../img/a.png);
}

.folders-center .file.type-d {
	background-image:url(../img/d.png);
}

.folders-center .file.type-o {
	background-image:url(../img/o.png);
}

.folders-center .file.type-v {
	background-image:url(../img/v.png);
}

.folders-center .file.type-i .name-text {
	margin-top:6px;
}

.folders-center .file.type-i img {
	margin: 14px 3px 3px 8px;
	border: 5px solid white;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
	-ms-box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
	-o-box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
}

#item-details h4 {
	margin:0 0 10px;
}

#item-details li {
	font-size:14px;
	list-style:none;
	line-height:26px;
}

#item-details label {
	font-size:14px;
	width:130px;
	display:inline-block;
}

#item-details span {
	padding-left:5px;
}

#item-details input.path {
	width:250px;
	margin-left:6px;
}

#item-details input.alt_attribute {
	display:block;
	margin-left:0;
	width:250px;
}

#item-details textarea {
	width:390px;
	min-height:0;
	height:75px;
}

#activity {
	margin-top:0px!important;
	float: right;
}

#activity li {
	padding:10px 0 10px 10px;
	border-bottom:1px solid #d8d8d8;
}

#activity .success {
	color:#52914D;
}

#activity .failure {
	color:#B72C2C;
}

#activity .info {
	color:#354F68;
}

#activity li i {
	margin-right:5px;
	float:left;
}

li.right-title {
	padding-left:0;
}

li.right-title label {
	padding-left:10px;
}

li.right-title input {
	margin-left:20px;
	width:83%;
}

li.right-title,li.right-title label {
	font-size:14px;
	font-weight:700;
	font-style:italic;
	border:none;
}

#search-results{
	list-style: none;
	margin: 0px;
}

#search-results li {
	padding:10px 0 10px 10px;
	border-bottom:1px solid #d8d8d8;
	font-size:13px;
}

#search-results .folder {
	width:20px;
	height:20px;
	margin-right:5px;
	float:left;
	background:url(../img/glyphicons-halflings-gray.png) no-repeat -405px -120px;
}

#search-results .file {
	width:20px;
	height:20px;
	margin-right:5px;
	float:left;
	background:url(../img/glyphicons-halflings-gray.png) no-repeat -19px -23px;
}

#search-area {
	margin-bottom:15px;
}

.context-menu-source {
	display:none;
	position:absolute;
	min-width:150px;
	background-color:white;
	border:1px solid #e5e5e5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.15);
	list-style: none;
}

.context-menu-source li {
	height:40px;
	cursor:pointer;
	color:#585858;
	font-size:14px;
	padding:10px 25px 14px 25px;
	border-bottom:1px solid #e0e0e0;
}

.context-menu-source li:last-child {
	border-bottom: none;
}

.context-menu-source li:hover {
	background-color:#e8e8e8;
}

#files-uploader {
	position:relative;
	margin:0 5px;
}

#files-uploader .files-uploader-browser {
	padding-bottom:75px;
	position: relative;
}

#files-uploader .files-uploader-browser > .buttons {
	display: block;
	margin-left: 4px;
	margin-bottom: 10px;
	float: right;
	clear:both;
}

#files-uploader .files-uploader-browser > .buttons button, #files-uploader .files-uploader-browser > .buttons a.button {
	margin-left: 4px;
}

#files-uploader form.file_upload {
	background-color:transparent;
	border:2px dashed #d0d0d0;
	margin:20px auto 10px;
	min-height:100px;
	color:#585858;
	width:99%;
}

#files-uploader label.upload {
	position:absolute;
	left:50%;
	top:20%;
	display:block;
	width:200px;
	height:30px;
	line-height:30px;
	margin-left:-100px;
	margin-top:-15px;
}

#files-uploader-queue {
	list-style-type:none;
	display: block;
	margin:0px;
	height:228px;
	width: 100%;
	overflow-y:auto;
	background:#f5f5f5;
	border:1px solid #ddd;
	padding:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

#files-uploader-queue li {
	display: block;
	margin:0px 10px 0px;
	padding-top:10px;
	border-top:1px solid #ddd;
	clear:both;
}

#files-uploader-queue li:first-child {
	border-top:none;
}

#files-uploader-queue li > div {
	margin-right:15px;
	display:inline-block;
	vertical-align:top;
}

#files-uploader-queue li > div * {
	vertical-align:middle;
}

#files-uploader-queue .file_upload_preview {
	border:1px solid #ccc;
	width:auto;
	float: left;
}

#files-uploader-queue .file_upload_preview div {
	overflow:hidden;
	background:#fff;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.4);
	-ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,.4);
	-o-box-shadow: 0 2px 3px 0 rgba(0,0,0,.4);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.4);
}

#files-uploader-queue .file_upload_preview img,#files-uploader-queue .file_upload_preview canvas {
	width:auto;
	border: 3px solid white;
}

#files-uploader-queue .filename {
	width:29%;
	overflow:hidden;
	color:#666;
	margin-top:10px;
	text-align:left;
}

#files-uploader-queue .file_upload_progress {
	margin-top:12px;
	width:40%;
	overflow:hidden;
}

#files-uploader-queue .file_upload_cancel {
	margin-top:5px;
	float:right;
	margin-right:0;
	width:10%;
}

.file_upload_cancel div.start-icon {
	position: absolute;
	top: 18px;
	right: 10px;
	display:block;
	margin-left:5px;
	width:20px;
	height:20px;
	/* background:url(../img/upload.png) no-repeat 0 0; */
	background-color: #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.file_upload_cancel div.cancel-icon {
	position: absolute;
	top: 18px;
	right: 35px;
	display:block;
	margin-left:5px;
	width:20px;
	height:20px;
	/* background:url(../img/cancel.png) no-repeat 0 0; */
	background-color: #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.file_upload_cancel div.cancel-icon:hover,
.file_upload_cancel div.cancel-icon:active {
	background-color: #ff5050;
}

.file_upload_cancel div.start-icon:hover,
.file_upload_cancel div.start-icon:active {
	background-color: #75c080;
}

.file_upload_cancel div.cancel-icon:before {
	content: "×";
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	left: 6px;
}

.file_upload_cancel div.start-icon:before {
	content: "+";
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	left: 6px;
}

#files-uploader-queue .image_meta {
	float:left;
	margin-bottom: 10px;
}

#files-uploader-queue .image_meta label {
	margin-right:5px;
}

#files-uploader-queue .image_meta select {
	margin-right:20px;
	max-width:120px;
}

#files-uploader-queue .image_meta input {
	margin-right:20px;
}

#files-uploader-queue li {
	position: relative;
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 21),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx)
and (min-device-width: 768px) {
/* Styles */
	.folders-center .folder {
		background:url(../img/folder@2x.png) no-repeat;
		background-size: 100px 100px;
	}
}

.folder{
	list-style-type: none;
}