<!DOCTYPE html>
<html lang="en">
  <head>
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        {{ theme:partial name="meta" }}
        {{ widgets:area slug="Frontend" }}
  </head>

  <body>

    {{ theme:partial name="header" }}

    <div class="container">
            <div class="baseHome formcontact">
                <div class="page-title">
                    <h2>Contact Iconic</h2>
                </div><!-- page title -->

                    {{ contact:form
                        name = "text|required"
                        email = "text|required|valid_email"
                        message = "textarea|required"
                        max_size = "10000"
                        button = "Kirim"
                        template = "contact"
                        lang = "en"
                        to = "iconicmoviestars@gmail.com"
                        from = "iconicmoviestars@gmail.com"
                        sent = "Your message has been sent. Thank you for contacting us"
                        error = "Sorry. Your message could not be sent. Please call us at 123-456-7890"
                    }}
                        {{ name }}
                        {{ email }}
                        {{ message }}
                    {{ /contact:form }}

            <div class="clear">&nbsp;</div><!-- clear -->
            </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
		{{ theme:partial name="footer" }}
  </body>
</html>