<!DOCTYPE html>
<html lang="en">
  <head>
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        {{ theme:partial name="meta" }}
        {{ widgets:area slug="Frontend" }}
  </head>

  <body>

    {{ theme:partial name="header" }}

    <div class="container">

      {{ template:body }}

    </div><!-- /.container -->
    
		{{ theme:partial name="footer" }}
  </body>
</html>